{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    {% if category_slug %}
        {% for c in categories %}
            {% if c.slug == category_slug %}
                {{ c.category_name }}
            {% endif %}
        {% endfor %}
    {% else %}
        Buy Sell Auto
    {% endif %}
{% endblock %}

{% block bottomheader %}
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1 class="pull-left">
                        <a href="{% url 'index' %}" class="font-weight-bold font-italic">
                            <img height="100px" width="150px" src="{% static 'store/images/logoWeb2.jpg' %}" alt=" "
                                 class="img-wrap">
                        </a>
                    </h1>
                </div>

                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            <form class="form-inline" action="{% url 'product_search' %}" method="GET">
                                {% if keywords %}
                                    <input class="form-control mr-sm-2" name="q" value="{{ keywords }}" type="search"
                                           placeholder="Search by keywords, car type, brand, agent, etc"
                                           aria-label="Search" required>

                                {% else %}
                                    <input class="form-control mr-sm-2" name="q" type="search"
                                           placeholder="Search by keywords, car type, brand, agent, etc"
                                           aria-label="Search" required>
                                {% endif %}
                                <button class="btn my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>

                        <!-- //search -->
                        <!-- cart details -->
                        {#                        						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">#}
                        {#                        							<div class="wthreecartaits wthreecartaits2 cart cart box_1">#}
                        {#                        								<form action="#" method="post" class="last">#}
                        {#                        									<input type="hidden" name="cmd" value="_cart">#}
                        {#                        									<input type="hidden" name="display" value="1">#}
                        {#                        									<button class="btn w3view-cart" type="submit" name="submit" value="">#}
                        {#                        										<i class="fas fa-cart-arrow-down"></i>#}
                        {#                        									</button>#}
                        {#                        								</form>#}
                        {#                        							</div>#}
                        {#                        						</div>#}
                        <!-- //cart details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}


    <style type="text/css">
        body {
            margin-top: 20px;
        {#background: #edf0f5;#}
        }

        product-item a {
            display: block;
            color: #434a54;
            font-weight: 700
        }

        .product-item a:hover {
            color: #37bc9b
        }

        .product-item .price {
            color: #aab2bd;
            font-weight: 700
        }

        .product-item .price .price-new {
            color: #37bc9b
        }

        .product-grid .product-item {
            position: relative;
            width: 100%;
            border: none;
            padding-bottom: 4pc;
            margin-bottom: 30px;
            border-radius: 3px;
            box-shadow: 0 1px 2px 0 #ccd1d9;
            overflow: hidden;
            z-index: 1
        }

        .product-grid .product-item img {
            width: 100%
        }

        .product-grid .product-item .item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: 0 0;
            border-radius: 3px;
            -webkit-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out
        }

        .product-grid .product-item:hover .item-overlay {
            background: rgba(170, 178, 189, .42)
        }

        .product-grid .product-item .clickable a {
            display: block;
            padding: 100%;
            z-index: 9
        }

        .product-grid .product-item .caption {
            position: absolute;
            bottom: -87pt;
            display: block;
            min-width: 100%;
            min-height: 180px;
            padding: 6px 6px;
            margin: 0;
            background: #fff;
        {#-webkit-transition: all .3s ease-in-out;#}{#transition: all .3s ease-in-out;#}{#z-index: 1#}
        }

        .product-grid .product-item .caption .cart {
            display: block;
            padding: 27px 0 0;
            clear: both
        }

        .product-grid .product-item .caption .btn-primary {
            width: 100%;
            color: #fff;
            background: #37bc9b;
            border: 1px solid #37bc9b;
            -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s
        }

        .product-grid .product-item .caption .btn-primary:hover {
            color: #434a54;
            background: 0 0;
            border: 1px solid #656d78
        }

        .product-grid .product-item .caption .name a,
        .product-grid .product-item .caption .price {
            text-align: center
        }

        .product-grid .product-item .caption .name a {
            line-height: 1pc;
            margin: 9px 0 0
        }

        .product-grid .product-item .compare,
        .product-grid .product-item .wishlist {
            color: #fff;
            display: none;
            margin-bottom: 3px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            padding: 0;
            border: none;
            -webkit-transition: .3s;
            transition: .3s
        }

        .product-grid .product-item .compare a,
        .product-grid .product-item .wishlist a {
            display: block;
            color: #fff;
            font-size: 14px
        }

        .product-grid .product-item .wishlist {
            position: absolute;
            top: 15px;
            left: 15px;
            background: #37bc9b
        }

        .product-grid .product-item .wishlist:hover {
            background: #33b091
        }

        .product-grid .product-item .compare {
            position: absolute;
            top: 3pc;
            left: 15px;
            background: #434a54
        }

        .product-grid .product-item .compare:hover {
            background: #393f47
        }

        .product-grid .product-item:hover .compare,
        .product-grid .product-item:hover .wishlist {
            display: block
        }

        .product-grid .product-item .sale-tag {
            width: 50px;
            height: 75pt;
            background: #37bc9b;
            position: absolute;
            top: -45px;
            right: -10px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

        .product-grid .product-item .sale-tag span {
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            left: 2px;
            position: absolute;
            top: 3pc;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        @media (min-width: 992px) {
            .product-grid .product-item {
                width: 213px
            }
        }

        @media (min-width: 1200px) {
            .product-grid .product-item {
                width: 263px
            }
        }


        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
        @import url('https://fonts.googleapis.com/css?family=Montserrat');

        body {
            font-family: 'Montserrat', sans-serif;

        }

        /* Category Ads */

        #ads {
            margin: 30px 0 30px 0;

        }

        #ads .card-notify-badge {
            position: absolute;
            left: -10px;
            top: -20px;
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;

        }

        #ads .card-notify-year {
            position: absolute;
            right: -10px;
            top: -20px;
            background: #ff4444;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 14px;
            width: 50px;
            height: 50px;
            padding: 15px 0 0 0;
        }


        #ads .card-detail-badge {
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;
        }


        #ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

        #ads .card-image-overlay {
            font-size: 20px;

        }


        #ads .card-image-overlay span {
            display: inline-block;
        }


        #ads .ad-btn {
            text-transform: uppercase;
            width: 150px;
            height: 40px;
            border-radius: 80px;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            border: 3px solid #e6de08;
            display: block;
            text-decoration: none;
            margin: 20px auto 1px auto;
            color: #000;
            overflow: hidden;
            position: relative;
            background-color: #e6de08;
        }

        #ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        }

        #ads .ad-title h5 {
            text-transform: uppercase;
            font-size: 18px;
        }
    </style>




    <!-- banner -->
    {#    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
    {#        <!-- Indicators-->#}
    {#        <ol class="carousel-indicators">#}
    {#            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
    {#            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
    {#            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
    {#            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>#}
    {#        </ol>#}
    {#        <div class="carousel-inner">#}
    {#            <div class="carousel-item item1 active">#}
    {#                <div class="container">#}
    {#                    <div class="w3l-space-banner">#}
    {#                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">#}
    {#                            <p>Get flat#}
    {#                                <span>10%</span> Cashback</p>#}
    {#                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">The#}
    {#                                <span>Big</span>#}
    {#                                Sale#}
    {#                            </h3>#}
    {#                            <a class="button2" href="product.html">Shop Now </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="carousel-item item2">#}
    {#                <div class="container">#}
    {#                    <div class="w3l-space-banner">#}
    {#                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">#}
    {#                            <p>advanced#}
    {#                                <span>Wireless</span> earbuds</p>#}
    {#                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Best#}
    {#                                <span>Headphone</span>#}
    {#                            </h3>#}
    {#                            <a class="button2" href="product.html">Shop Now </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="carousel-item item3">#}
    {#                <div class="container">#}
    {#                    <div class="w3l-space-banner">#}
    {#                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">#}
    {#                            <p>Get flat#}
    {#                                <span>10%</span> Cashback</p>#}
    {#                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">New#}
    {#                                <span>Standard</span>#}
    {#                            </h3>#}
    {#                            <a class="button2" href="product.html">Shop Now </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="carousel-item item4">#}
    {#                <div class="container">#}
    {#                    <div class="w3l-space-banner">#}
    {#                        <div class="carousel-caption p-lg-5 p-sm-4 p-3">#}
    {#                            <p>Get Now#}
    {#                                <span>40%</span> Discount</p>#}
    {#                            <h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Today#}
    {#                                <span>Discount</span>#}
    {#                            </h3>#}
    {#                            <a class="button2" href="product.html">Shop Now </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
    {#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
    {#            <span class="sr-only">Previous</span>#}
    {#        </a>#}
    {#        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
    {#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
    {#            <span class="sr-only">Next</span>#}
    {#        </a>#}
    {#    </div>#}
    <!-- //banner -->

    <!-- top Products -->
    <div class="ads-grid py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <div class="row">
                <!-- product left -->
                <div class="agileinfo-ads-display col-lg-9">
                    <div class="wrapper">
                        <!-- first section -->
                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-weight-bold">Motor Vehicles</h3>

                            <div class="row" id="ads">
                                <!-- Category Card -->
                                {% for product in products|slice:":6" reversed %}

                                    <div class="col-md-4 ">
                                        <div class="card rounded h-75">
                                            <div class="card-image h-25">
                                                <span class="card-notify-badge">{{ product.listing_type | capfirst }}</span>
                                                <span class="card-notify-year">{{ product.year }}</span>
                                                {% for p_image in product.productimage_set.all|slice:":1" %}
                                                    <img class="img-fluid"
                                                         src="{% if p_image.image %}
                                                                    {{ p_image.image.url }}
                                                                {% else %}
                                                                    {% static 'store/images/blank-car.jpg' %}
                                                            {% endif %}"
                                                         alt="Alternate Text"/>
                                                {% endfor %}
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="card-image-overlay">
                                                <span class="card-detail-badge">{{ product.vehicle_status | capfirst }}</span>
                                                <span class="card-detail-badge">K{{ product.price | upper }}</span>
                                            </div>
                                            <div class="card-body text-center">
                                                <div class="ad-title m-auto">
                                                    <p>{{ product.title | capfirst }}</p>
                                                </div>
                                                <a class="btn btn-outline-primary btn-sm btn-block"
                                                   href="{{ product.get_absolute_url }}">View</a>

                                            </div>
                                            <br>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>

                        <a href="{% url 'vehicles' %}" class="btn btn-sm btn-outline-info pull-right btn-block">
                                View all vehicles <span class="fa fa-arrow-circle-right"></span>
                            </a>

                        </div>
                        <!-- //first section -->

                        <div class="row">
                            <div class="container">
                                <br>
                                <h4>Another View</h4>
                                <br>
                                <div class="row" id="ads">
                                    <!-- Category Card -->
                                    {% for product in products|slice:":6" reversed %}

                                        <div class="col-md-4 ">
                                            <div class="card rounded h-75">
                                                <div class="card-image h-25">
                                                    <span class="card-notify-badge">{{ product.listing_type | capfirst }}</span>
                                                    <span class="card-notify-year">{{ product.year }}</span>
                                                    {% for p_image in product.productimage_set.all|slice:":1" %}
                                                        <img class="img-fluid"
                                                             src="{% if p_image.image %}
                                                                    {{ p_image.image.url }}
                                                                {% else %}
                                                                    {% static 'store/images/blank-car.jpg' %}
                                                            {% endif %}"
                                                             alt="Alternate Text"/>
                                                    {% endfor %}
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="card-image-overlay">
                                                    <span class="card-detail-badge">{{ product.vehicle_status | capfirst }}</span>
                                                    <span class="card-detail-badge">K{{ product.price | upper }}</span>
                                                </div>
                                                <div class="card-body text-center">
                                                    <div class="ad-title m-auto">
                                                        <p>{{ product.title | upper }}</p>
                                                    </div>
                                                    <a class="btn btn-outline-primary btn-sm btn-block"
                                                       href="{{ product.get_absolute_url }}">View</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                        <!-- second section -->
                        <div class="card col-lg-12">
                            <h3 class="card-tittle text-center font-weight-bold">Equipments</h3>
                            <br>
                            <div class="row">
                                {% for product in equipments|slice:":6" reversed %}
                                    <div class="col-sm-4">
                                        <div class="card">
                                            {% for p_image in product.equipmentimage_set.all|slice:":1" %}
                                                <div class="card-header">{{ product.equipment_listing_type }}</div>
                                                <img class="card-img-top" src="
                                                {% if p_image.image %}

                                                        {{ p_image.image.url }}

                                                 {% else %}
                                                       {% static 'store/images/blank-car.jpg' %}
                                                  {% endif %}" alt="Card image cap">
                                            {% endfor %}
                                            <div class="card-body">
                                                <h5 class="card-title">{{ product.equipment_name }} </h5>
                                                <center><h5 class="card-title">ZMW{{ product.equipment_price }}</h5></center>
                                                <a href="{% url 'equipment_detail' product.id %}" class="btn btn-outline-primary btn-block">View</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                                <div class="col-sm-4">
                                    <div class="card">

                                        <img class="card-img-top" src="..." alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a href="{% url 'equipments' %}" class="btn btn-sm btn-outline-info pull-right">
                                View all equipments <span class="fa fa-arrow-circle-right"></span>
                            </a>
                            <br>
                        </div>
                        <!-- //second section -->

                        <!-- //third section -->
                        <!-- fourth section -->
                        {#                        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mt-4">#}
                        {#                            <h3 class="heading-tittle text-center font-italic">Large Appliances</h3>#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-md-4 product-men mt-5">#}
                        {#                                    <div class="men-pro-item simpleCart_shelfItem">#}
                        {#                                        <div class="men-thumb-item text-center">#}
                        {#                                            <img src="{% static 'store/images/m7.jpg' %}" alt="">#}
                        {#                                            <div class="men-cart-pro">#}
                        {#                                                <div class="inner-men-cart-pro">#}
                        {#                                                    <a href="single.html" class="link-product-add-cart">Quick View</a>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <span class="product-new-top">New</span>#}
                        {#                                        <div class="item-info-product text-center border-top mt-4">#}
                        {#                                            <h4 class="pt-1">#}
                        {#                                                <a href="single.html">Whirlpool 245</a>#}
                        {#                                            </h4>#}
                        {#                                            <div class="info-product-price my-2">#}
                        {#                                                <span class="item_price">$230.00</span>#}
                        {#                                                <del>$280.00</del>#}
                        {#                                            </div>#}
                        {#                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">#}
                        {#                                                <form action="#" method="post">#}
                        {#                                                    <fieldset>#}
                        {#                                                        <input type="hidden" name="cmd" value="_cart"/>#}
                        {#                                                        <input type="hidden" name="add" value="1"/>#}
                        {#                                                        <input type="hidden" name="business" value=" "/>#}
                        {#                                                        <input type="hidden" name="item_name" value="Whirlpool 245"/>#}
                        {#                                                        <input type="hidden" name="amount" value="230.00"/>#}
                        {#                                                        <input type="hidden" name="discount_amount" value="1.00"/>#}
                        {#                                                        <input type="hidden" name="currency_code" value="USD"/>#}
                        {#                                                        <input type="hidden" name="return" value=" "/>#}
                        {#                                                        <input type="hidden" name="cancel_return" value=" "/>#}
                        {#                                                        <input type="submit" name="submit" value="Add to cart"#}
                        {#                                                               class="button btn"/>#}
                        {#                                                    </fieldset>#}
                        {#                                                </form>#}
                        {#                                            </div>#}
                        {##}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-4 product-men mt-5">#}
                        {#                                    <div class="men-pro-item simpleCart_shelfItem">#}
                        {#                                        <div class="men-thumb-item text-center">#}
                        {#                                            <img src="images/m8.jpg" alt="">#}
                        {#                                            <div class="men-cart-pro">#}
                        {#                                                <div class="inner-men-cart-pro">#}
                        {#                                                    <a href="single.html" class="link-product-add-cart">Quick View</a>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="item-info-product text-center border-top mt-4">#}
                        {#                                            <h4 class="pt-1">#}
                        {#                                                <a href="single.html">BPL Washing Machine</a>#}
                        {#                                            </h4>#}
                        {#                                            <div class="info-product-price my-2">#}
                        {#                                                <span class="item_price">$180.00</span>#}
                        {#                                                <del>$200.00</del>#}
                        {#                                            </div>#}
                        {#                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">#}
                        {#                                                <form action="#" method="post">#}
                        {#                                                    <fieldset>#}
                        {#                                                        <input type="hidden" name="cmd" value="_cart"/>#}
                        {#                                                        <input type="hidden" name="add" value="1"/>#}
                        {#                                                        <input type="hidden" name="business" value=" "/>#}
                        {#                                                        <input type="hidden" name="item_name"#}
                        {#                                                               value="BPL Washing Machine"/>#}
                        {#                                                        <input type="hidden" name="amount" value="180.00"/>#}
                        {#                                                        <input type="hidden" name="discount_amount" value="1.00"/>#}
                        {#                                                        <input type="hidden" name="currency_code" value="USD"/>#}
                        {#                                                        <input type="hidden" name="return" value=" "/>#}
                        {#                                                        <input type="hidden" name="cancel_return" value=" "/>#}
                        {#                                                        <input type="submit" name="submit" value="Add to cart"#}
                        {#                                                               class="button btn"/>#}
                        {#                                                    </fieldset>#}
                        {#                                                </form>#}
                        {#                                            </div>#}
                        {##}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-4 product-men mt-5">#}
                        {#                                    <div class="men-pro-item simpleCart_shelfItem">#}
                        {#                                        <div class="men-thumb-item text-center">#}
                        {#                                            <img src="images/m9.jpg" alt="">#}
                        {#                                            <div class="men-cart-pro">#}
                        {#                                                <div class="inner-men-cart-pro">#}
                        {#                                                    <a href="single.html" class="link-product-add-cart">Quick View</a>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="item-info-product text-center border-top mt-4">#}
                        {#                                            <h4 class="pt-1">#}
                        {#                                                <a href="single.html">Microwave Oven</a>#}
                        {#                                            </h4>#}
                        {#                                            <div class="info-product-price my-2">#}
                        {#                                                <span class="item_price">$199.00</span>#}
                        {#                                                <del>$299.00</del>#}
                        {#                                            </div>#}
                        {#                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">#}
                        {#                                                <form action="#" method="post">#}
                        {#                                                    <fieldset>#}
                        {#                                                        <input type="hidden" name="cmd" value="_cart"/>#}
                        {#                                                        <input type="hidden" name="add" value="1"/>#}
                        {#                                                        <input type="hidden" name="business" value=" "/>#}
                        {#                                                        <input type="hidden" name="item_name" value="Microwave Oven"/>#}
                        {#                                                        <input type="hidden" name="amount" value="199.00"/>#}
                        {#                                                        <input type="hidden" name="discount_amount" value="1.00"/>#}
                        {#                                                        <input type="hidden" name="currency_code" value="USD"/>#}
                        {#                                                        <input type="hidden" name="return" value=" "/>#}
                        {#                                                        <input type="hidden" name="cancel_return" value=" "/>#}
                        {#                                                        <input type="submit" name="submit" value="Add to cart"#}
                        {#                                                               class="button btn"/>#}
                        {#                                                    </fieldset>#}
                        {#                                                </form>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <!-- //fourth section -->
                    </div>
                </div>
                <!-- //product left -->

                <!-- product right -->
                <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                    <div class="side-bar p-sm-4 p-3">
                        <div class="search-hotel border-bottom py-2">
                            <h3 class="agileits-sear-head mb-3 text-center font-weight-normal">Search Events Here..</h3>
                            <form action="#" method="post">
                                <input type="search" placeholder="Product name..." name="search" required="">
                                <input type="submit" value=" ">
                            </form>
                        </div>
                        <!-- price -->
                        {% for et in event_types|slice:":6" reversed %}
                            <div class="range border-bottom py-2">
                                <h3 class="agileits-sear-head mb-3">{{ et.event_type_name }}</h3>
                                <div class="w3l-range">
                                    <ul>
                                        {% for event in et.event_set.all %}
                                            <li>
                                                <a href="{% url 'event_detail' event.slug %}">
                                                    <span class="fa fa-angle-right"></span> {{ event }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- best seller -->
                        <div class="f-grid py-2">
                            <h3 class="agileits-sear-head mb-3 heading-tittle text-center font-weight-bold">News</h3>
                            <div class="box-scroll">
                                <div class="scroll">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                            <img src="images/k1.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                            <a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
                                            <a href="" class="price-mar mt-2">$12,990.00</a>
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                            <img src="images/k2.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                            <a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
                                            <a href="" class="price-mar mt-2">$12,499.00</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                            <img src="images/k3.jpg" alt="" class="img-fluid">
                                        </div>
                                        <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                            <a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
                                            <a href="" class="price-mar mt-2">$1,199.00 </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //best seller -->
                    </div>
                    <!-- //product right -->
                </div>
            </div>

        </div>
    </div>
    <!-- //top products -->

    <!-- middle section -->
    <div class="join-w3l1 py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="join-agile text-left p-4">
                        <div class="row">
                            <div class="col-sm-7 offer-name">
                                <h6>Smooth, Rich & Loud Audio</h6>
                                <h4 class="mt-2 mb-3">Branded Headphones</h4>
                                <p>Sale up to 25% off all in store</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="images/off1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="join-agile text-left p-4">
                        <div class="row ">
                            <div class="col-sm-7 offer-name">
                                <h6>A Bigger Phone</h6>
                                <h4 class="mt-2 mb-3">Smart Phones 5</h4>
                                <p>Free shipping order over $100</p>
                            </div>
                            <div class="col-sm-5 offerimg-w3l">
                                <img src="images/off2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- middle section -->
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-top-first">
            <div class="container py-md-5 py-sm-4 py-3">
                <!-- footer first section -->
                {#                <h2 class="footer-top-head-w3l font-weight-bold mb-2">Electronics :</h2>#}
                {#                <p class="footer-main mb-4">#}
                {#                    If you're considering a new laptop, looking for a powerful new car stereo or shopping for a new#}
                {#                    HDTV, we make it easy to#}
                {#                    find exactly what you need at a price you can afford. We offer Every Day Low Prices on TVs, laptops,#}
                {#                    cell phones, tablets#}
                {#                    and iPads, video games, desktop computers, cameras and camcorders, audio, video and more.</p>#}
                {#                <!-- //footer first section -->#}
                <!-- footer second section -->
                <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-dolly"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Free Shipping</h3>
                                <p>on orders over $100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer my-md-0 my-4">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Fast Delivery</h3>
                                <p>World Wide</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Big Choice</h3>
                                <p>of Products</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //footer second section -->
            </div>
        </div>
        <!-- footer third section -->
        <div class="w3l-middlefooter-sec">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- footer categories -->
                    <div class="col-md-3 col-sm-6 footer-grids">
                        <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="product.html">Mobiles </a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">Computers</a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">TV, Audio</a>
                            </li>
                            <li class="mb-3">
                                <a href="#">Smartphones</a>
                            </li>
                            <li class="mb-3">
                                <a href="product.html">Washing Machines</a>
                            </li>
                            <li>
                                <a href="#">Refrigerators</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer categories -->
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">About Us</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="{% url 'contactus' %}">Contact Us</a>
                            </li>
                            <li class="mb-3">
                                <a href="../aboutus/help.html">Help</a>
                            </li>
                            <li class="mb-3">
                                <a href="faqs.html">Faqs</a>
                            </li>
                            <li class="mb-3">
                                <a href="../aboutus/terms.html">Terms of use</a>
                            </li>
                            <li>
                                <a href="../aboutus/privacy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                        <ul>
                            {% for companycontactdetail in companycontactdetails %}
                                <li class="mb-3">
                                    <i class="fas fa-map-marker"></i> {{ companycontactdetail.location }}
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-mobile"></i> {{ companycontactdetail.mobile }}
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-phone"></i> {{ companycontactdetail.telephone }}
                                </li>
                                <li class="mb-3">
                                    <i class="fas fa-envelope-open"></i>
                                    <a href="mailto:example@mail.com"> {{ companycontactdetail.emailaddress1 }}</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope-open"></i>
                                    <a href="mailto:example@mail.com"> {{ companycontactdetail.emailaddress2 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                        <p class="mb-3">Free Delivery on your first order!</p>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                <input type="submit" value="Go">
                            </div>
                        </form>
                        <!-- //newsletter -->
                        <!-- social icons -->
                        <div class="footer-grids  w3l-socialmk mt-3">
                            <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
                            <div class="social">
                                <ul>
                                    {% for socialmedialink in companysocialmedialinks %}
                                        <li>
                                            <a class="icon fb" href="{{ socialmedialink.facebook }}">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="icon tw" href="{{ socialmedialink.twitter }}">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="icon gp" href="{{ socialmedialink.instagram }}">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- //social icons -->
                    </div>
                </div>
                <!-- //quick links -->
            </div>
        </div>
        <!-- //footer third section -->

        <!-- footer fourth section -->
        <div class="agile-sometext py-md-5 py-sm-4 py-3">
            <div class="container">
                <!-- //brands -->
                <!-- payment -->
                <div class="sub-some child-momu mt-4">
                    <h5 class="font-weight-bold mb-3">Payment Method</h5>
                    <ul>
                        <li>
                            <img src="{% static 'store/images/pay2.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay5.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay1.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay4.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay6.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay3.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay7.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay8.png' %}" alt="">
                        </li>
                        <li>
                            <img src="{% static 'store/images/pay9.png' %}" alt="">
                        </li>
                    </ul>
                </div>
                <!-- //payment -->
            </div>
        </div>
        <!-- //footer fourth section (text) -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">© {% now 'Y' %} Buy Sell Auto. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts.</a>
            </p>
        </div>
    </div>
{% endblock %}

</body>

</html>