{% extends 'store/base.html' %}
{% load static %}

{% block title %}Vehicles{% endblock %}

{% block topheader %}
    <div id="small-dialog1" class="mfp-hide">
        <div class="select-city">
            <h3>
                <i class="fas fa-map-marker"></i> Please Select Your Location</h3>
            <select class="list_of_cities">
                <option>All Locations</option>
                {% for loc in location %}
                    <option>{{ loc.location_name | capfirst }}</option>
                {% endfor %}
            </select>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                    <p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
                        {#                                        <i class="fas fa-shopping-cart ml-1"></i>#}
                    </p>
                </div>
                <div class="col-lg-8 header-right mt-lg-0 mt-2">
                    <!-- header lists -->
                    <ul>
                        <li class="text-center border-right text-white">
                            <a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
                                <i class="fas fa-map-marker mr-2"></i>
                                Select Location
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <a href="{% url 'contactus' %}" class="text-white">
                                <i class="fas fa-envelope mr-2"></i>
                                Contact Us
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="fas fa-phone mr-2"></i> 001 234 5678
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="fas fa-mail-reply mr-2"></i> example@gmail.com
                        </li>
                        <li class="text-center border-right text-white pull-right">
                            <a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
                                <i class="fas fa-sign-in-alt mr-2"></i>
                                Log In
                            </a>
                        </li>
                    </ul>
                    <!-- //header lists -->
                </div>
            </div>
        </div>
    </div>

    <!-- modals -->
    <!-- log in -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="signin-form">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <p class="hint-text">Sign in with your social media account</p>
                            <div class="social-btn text-center">
                                <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="#" class="btn btn-info btn-lg" title="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="#" class="btn btn-danger btn-lg" title="Google"><i
                                        class="fab fa-google"></i></a>
                            </div>
                            <div class="or-seperator"><b>or</b></div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" id="username" name="username"
                                       placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" name="password"
                                       placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign in
                                </button>
                            </div>
                            <div class="text-center small"><a href="#">Forgot Your password?</a></div>
                        </form>
                        <div class="text-center small">Don't have an account? <a href="{% url 'agentregister' %}">Sign
                            up</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="agentRegistration" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="signin-form">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <p class="hint-text">Sign in with your social media account</p>
                            <div class="social-btn text-center">
                                <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i
                                        class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-info btn-lg" title="Twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-danger btn-lg" title="Google"><i
                                        class="fa fa-google"></i></a>
                            </div>
                            <div class="or-seperator"><b>or</b></div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" id="username" name="username"
                                       placeholder="Username" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" name="password"
                                       placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign in
                                </button>
                            </div>
                            <div class="text-center small"><a href="#">Forgot Your password?</a></div>
                        </form>
                        <div class="text-center small">Don't have an account? <a href="{% url 'agentregister' %}">Sign
                            up</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="agaentLogin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Log in">
                        </div>
                        <div class="sub-w3l">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
                            </div>
                        </div>
                        <p class="text-center dont-do mt-3">Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal2">
                                Register Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- register -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Your Name</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Email" required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password1"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Confirm Password"
                                   id="password2" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Register">
                        </div>
                        <div class="sub-w3l">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                                <label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms
                                    & Conditions</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- //top-header -->

    <!-- header-bottom-->

    <!-- shop locator (popup) -->
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="agileits-navi_search ">
                    <ul class="navbar-nav ml-auto text-center mr-xl-5 ">
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2 ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Vehicle Types
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'vehicles' %}">All Filling Stations</a>

                                {% for c in categories %}
                                    <a class="dropdown-item" href="{{ c.get_absolute_url }}" class="">
                                        {{ c.category_name }}
                                    </a>

                                {% endfor %}
                            </div>
                        </li>
                    </ul>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center mr-xl-5">
                        <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link" href="{% url 'index' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Business Directory
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <h5 class="mb-3">Easy Access Filters</h5>
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="{% url 'equipments' %}">Agricultural Equipments (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'auto_engineerings_list' %}">Auto Engineering
                                                        (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'auto_shop_view' %}">Auto Shops (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'for_hire' %}">Car Hire
                                                        ({{ hire_cars | length }})</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'car_wash_view' %}">Car Wash (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'clearing_agents' %}">Clearing Agents
                                                        ({{ all_agents| length }})</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'earth_movings_list' %}">Earth Moving
                                                        Services(0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'filling_stations_list' %}">Filling/Service Stations
                                                        (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'financial_institutions_list' %}">Financial
                                                        Institution (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'motorized_services_list' %}">Motorized Services
                                                        (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'training_services_list' %}">Training
                                                        Services(0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'transportation_services_list' %}">Transportation
                                                        Services (0)</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'vehicles' %}">Vehicles (0)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Car Manager
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'index' %}">Motor Vehicles</a>
                                <a class="dropdown-item" href="{% url 'for_sale' %}">Vehicles For Sale</a>
                                <a class="dropdown-item" href="{% url 'for_hire' %}">Vehicles For Hire</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'classified' %}">Classified Vehicles</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Agent
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-toggle="modal" data-target="#agaentLogin" href="">Agent
                                    Login</a>
                                <a class="dropdown-item" href="#">Agent Registration</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'agents_list' %}">View Agents</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Other Activities
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <h5 class="mb-3"><a href="{% url 'all_events' %}">Events Directory</a></h5>
                                    <h5 class="mb-3"><a href="">News Directory</a></h5>

                                    {% for et in event_types|slice:":6" reversed %}
                                        <div class="range border-bottom py-2">
                                            <h3 class="agileits-sear-head mb-3">{{ et.event_type_name }}</h3>
                                            <div class="w3l-range">
                                                <ul>
                                                    {% for event in et.event_set.all %}
                                                        <li>
                                                            <a href="{% url 'event_detail' event.slug %}">
                                                                <span class="fa fa-angle-right"></span> {{ event }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="#">Televisions</a>
                                                </li>

                                                <li>
                                                    <a href="#">Camera Accessories</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                About Us
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'legal' %}">Legal</a>
                                <a class="dropdown-item" href="{% url 'disclaimer' %}">Disclaimer</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'privacy' %}">Privacy</a>
                                <a class="dropdown-item" href="{% url 'security' %}">Security</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'payment_methods' %}">Payment Methods</a>
                                <a class="dropdown-item" href="{% url 'feedback' %}">Feedback</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- //navigation -->
    <br><br>
{% endblock %}

{% block content %}


    <style type="text/css">
        body {
            margin-top: 20px;
        {#background: #edf0f5;#}
        }

        product-item a {
            display: block;
            color: #434a54;
            font-weight: 700
        }

        .product-item a:hover {
            color: #37bc9b
        }

        .product-item .price {
            color: #aab2bd;
            font-weight: 700
        }

        .product-item .price .price-new {
            color: #37bc9b
        }

        .product-grid .product-item {
            position: relative;
            width: 100%;
            border: none;
            padding-bottom: 4pc;
            margin-bottom: 30px;
            border-radius: 3px;
            box-shadow: 0 1px 2px 0 #ccd1d9;
            overflow: hidden;
            z-index: 1
        }

        .product-grid .product-item img {
            width: 100%
        }

        .product-grid .product-item .item-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: 0 0;
            border-radius: 3px;
            -webkit-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out
        }

        .product-grid .product-item:hover .item-overlay {
            background: rgba(170, 178, 189, .42)
        }

        .product-grid .product-item .clickable a {
            display: block;
            padding: 100%;
            z-index: 9
        }

        .product-grid .product-item .caption {
            position: absolute;
            bottom: -87pt;
            display: block;
            min-width: 100%;
            min-height: 180px;
            padding: 6px 6px;
            margin: 0;
            background: #fff;
        {#-webkit-transition: all .3s ease-in-out;#}{#transition: all .3s ease-in-out;#}{#z-index: 1#}
        }

        .product-grid .product-item .caption .cart {
            display: block;
            padding: 27px 0 0;
            clear: both
        }

        .product-grid .product-item .caption .btn-primary {
            width: 100%;
            color: #fff;
            background: #37bc9b;
            border: 1px solid #37bc9b;
            -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s
        }

        .product-grid .product-item .caption .btn-primary:hover {
            color: #434a54;
            background: 0 0;
            border: 1px solid #656d78
        }

        .product-grid .product-item .caption .name a,
        .product-grid .product-item .caption .price {
            text-align: center
        }

        .product-grid .product-item .caption .name a {
            line-height: 1pc;
            margin: 9px 0 0
        }

        .product-grid .product-item .compare,
        .product-grid .product-item .wishlist {
            color: #fff;
            display: none;
            margin-bottom: 3px;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            padding: 0;
            border: none;
            -webkit-transition: .3s;
            transition: .3s
        }

        .product-grid .product-item .compare a,
        .product-grid .product-item .wishlist a {
            display: block;
            color: #fff;
            font-size: 14px
        }

        .product-grid .product-item .wishlist {
            position: absolute;
            top: 15px;
            left: 15px;
            background: #37bc9b
        }

        .product-grid .product-item .wishlist:hover {
            background: #33b091
        }

        .product-grid .product-item .compare {
            position: absolute;
            top: 3pc;
            left: 15px;
            background: #434a54
        }

        .product-grid .product-item .compare:hover {
            background: #393f47
        }

        .product-grid .product-item:hover .compare,
        .product-grid .product-item:hover .wishlist {
            display: block
        }

        .product-grid .product-item .sale-tag {
            width: 50px;
            height: 75pt;
            background: #37bc9b;
            position: absolute;
            top: -45px;
            right: -10px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

        .product-grid .product-item .sale-tag span {
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            left: 2px;
            position: absolute;
            top: 3pc;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        @media (min-width: 992px) {
            .product-grid .product-item {
                width: 213px
            }
        }

        @media (min-width: 1200px) {
            .product-grid .product-item {
                width: 263px
            }
        }


        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
        @import url('https://fonts.googleapis.com/css?family=Montserrat');

        body {
            font-family: 'Montserrat', sans-serif;

        }

        /* Category Ads */

        #ads {
            margin: 30px 0 30px 0;

        }

        #ads .card-notify-badge {
            position: absolute;
            left: -10px;
            top: -20px;
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;

        }

        #ads .card-notify-year {
            position: absolute;
            right: -10px;
            top: -20px;
            background: #ff4444;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 14px;
            width: 50px;
            height: 50px;
            padding: 15px 0 0 0;
        }


        #ads .card-detail-badge {
            background: #f2d900;
            text-align: center;
            border-radius: 30px 30px 30px 30px;
            color: #000;
            padding: 5px 10px;
            font-size: 14px;
        }


        #ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

        #ads .card-image-overlay {
            font-size: 20px;

        }


        #ads .card-image-overlay span {
            display: inline-block;
        }


        #ads .ad-btn {
            text-transform: uppercase;
            width: 150px;
            height: 40px;
            border-radius: 80px;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            border: 3px solid #e6de08;
            display: block;
            text-decoration: none;
            margin: 20px auto 1px auto;
            color: #000;
            overflow: hidden;
            position: relative;
            background-color: #e6de08;
        }

        #ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        }

        #ads .ad-title h5 {
            text-transform: uppercase;
            font-size: 18px;
        }
    </style>

    <div class="container">
        <div class="row">
            <!-- search -->
            <div class="col-10 agileits_search">
                <form class="form-inline" action="{% url 'product_search' %}" method="GET">
                    {% if keywords %}
                        <input class="form-control mr-sm-2" name="q" value="{{ keywords }}" type="search"
                               placeholder="Search by keywords, car type, brand, agent, etc"
                               aria-label="Search" required>

                    {% else %}
                        <input class="form-control mr-sm-2" name="q" type="search"
                               placeholder="Search by, equipment, brand, agent, etc"
                               aria-label="Search" required>
                    {% endif %}
                    <button class="btn my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <br>
        <div>
            <a href="{% url 'index' %}">Home</a> | All Vehicles
        </div>
        <hr>
        <div class="row" id="ads">
            {% for product in products|slice:":6" reversed %}

                <div class="col-md-4 ">
                    <div class="card rounded">
                        <div class="card-image-top">
                            <span class="card-notify-badge">{{ product.listing_type | capfirst }}</span>
                            <span class="card-notify-year">{{ product.year }}</span>
                            {% for p_image in product.productimage_set.all|slice:":1" %}
                                <img style="object-fit: contain;" class="img-fluid img-responsive"
                                     src="{% if p_image.image %}
                                            {{ p_image.image.url }}
                                           {% else %}
                                               {% static 'store/images/blank-car.jpg' %}
                                            {% endif %}"
                                     alt="Alternate Text"/>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="card-image-overlay">
                            <span class="card-detail-badge">{{ product.vehicle_status | capfirst }}</span>
                            <span class="card-detail-badge">K{{ product.price | upper }}</span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <p>{{ product.title | capfirst }}</p>
                            </div>
                            <a class="btn btn-outline-primary btn-sm btn-block"
                               href="{{ product.get_absolute_url }}">View</a>

                        </div>
                        <br>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}