{% extends 'store/base.html' %}
{% load static %}

{% block title %}Motorized Services{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <a href="{% url 'auto_engineerings_list' %}">Motorized Services</a> | {{ auto_engineering.name | capfirst }}
        <hr>
        <!-- Portfolio Item Heading -->
        <h2 class="my-4">{{ auto_engineering.name | capfirst }}
            <small>({{ auto_engineering.location | capfirst }})</small>
        </h2>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                {% if auto_engineering.picture %}
                    <img class="card-img-top img-fluid" alt="Product" src="{{ auto_engineering.picture.url }}"/>
                {% else %}
                    <img class="card-img-top img-fluid" alt="Product"
                         src="{% static 'img/auto_engineering_thumbnail.png' %}"/>
                {% endif %}

                <br>

                Map View
            <hr>
                <iframe src="https://www.google.com/maps/embed/v1/directions?origin=current+location&destination=
                        {% if auto_engineering.coordinates %}{{ auto_engineering.coordinates }}{% else %}{% for cd in companycontactdetails %}{{ cd.location }}{% endfor %}{% endif %}&key=AIzaSyC-5CY9mOCeg5Y3IhPqi_Yd0-DZtWrJl-E"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false"
                        tabindex="0">
                </iframe>
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Details</h3>
                <ul>
                    <li><b>Location:</b></li>
                    {{ auto_engineering.location }}
                    {% if auto_engineering.contact %}
                        <li><b>Contact:</b></li>
                        <a href="tel://{{ auto_engineering.contact }}">{{ auto_engineering.contact }}</a>
                    {% endif %}
                    {% if auto_engineering.website_link %}
                        <li><b>Website:</b></li>
                        <a href="{{ auto_engineering.website_link }}">{{ auto_engineering.website_link }}</a>
                    {% endif %}
                </ul>
            </div>

        </div>
        <!-- /.row -->
<br><br>
        <!-- Related Projects Row -->
        <h3 class="my-4">Other Auto Engineering Services in {{ auto_engineering.city | capfirst }}</h3>

        <div class="row">
            {% for other_auto_engineering in other_auto_engineerings|slice:":4" reversed %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="{% url 'auto_engineering_detail' other_auto_engineering.id %}">
                        {% if other_auto_engineering.picture %}
                            <img class="card-img-top img-fluid" alt="Product" src="{{ other_auto_engineering.picture.url }}"/>
                        {% else %}
                            <img class="card-img-top img-fluid" alt="Product"
                                 src="{% static 'img/auto_engineering_thumbnail.png' %}"/>
                        {% endif %}

                    <h5>{{ other_auto_engineering.name | capfirst }}</h5>
                    <p>({{ other_auto_engineering.location }})</p>
                    </a>
                </div>
            {% endfor %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}