{% extends 'agents/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}
    <br>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{ vehicle_details.title | capfirst }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'agent_vehicles' %}">Vehicles</a></li>
                        <li class="breadcrumb-item active">{{ vehicle_details.title |capfirst }}</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none">{{ vehicle_details.title }} (<a
                                href="">{{ vehicle_details.category.category_name }}</a>)</h3>
                        <div class="col-12">
                            {% for img in vehicle_details.productimage_set.all|slice:":1" %}
                                <img src="{{ img.image.url }}" class="product-image" alt="Product Image">
                            {% endfor %}
                        </div>
                        <div class="col-12 product-image-thumbs">
                            {% for img in vehicle_details.productimage_set.all %}
                                <div class="product-image-thumb"><img src="{{ img.image.url }}" alt="Product Image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">{{ vehicle_details.title }} (<a
                                href="">{{ vehicle_details.category.category_name }}</a>)</h3>
                        <p>
                            <small>Product by <a href="javascript:void(0);">
                                {% if vehicle_details.user.agent.company_name is "N/A" %}
                                    {{ vehicle_details.user.agent.company_name }}
                                    ({{ vehicle_details.equipment_status }} |
                                    {{ vehicle_details.listing_type }})
                                {% else %}
                                    {{ vehicle_details.user.get_full_name }}
                                    ({{ vehicle_details.vehicle_status }} |
                                    {{ vehicle_details.listing_type }})
                                {% endif %}
                            </a></small>
                        </p>

                    <p><b>Status:</b> {{ vehicle_details.vehicle_status }}</p>

                        <hr>

                        <div class="bg-gray py-2 px-3 mt-4">
                            <h2 class="mb-0">
                                ZMW {{ vehicle_details.price }}
                            </h2>
                            <h4 class="mt-0">
                                <small>Ex Tax: $80.00</small>
                            </h4>
                        </div>

                        <div class="mt-4">
                            <div class="btn btn-default btn-lg btn-flat">
                                <i class="fas fa-heart fa-lg mr-2"></i>
                                Add to Wishlist
                            </div>
                        </div>

                        <div class="mt-4 product-share">
                            <a href="#" class="text-gray">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-envelope-square fa-2x"></i>
                            </a>
                            <a href="#" class="text-gray">
                                <i class="fas fa-rss-square fa-2x"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab"
                               href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab"
                               href="#product-comments" role="tab" aria-controls="product-comments"
                               aria-selected="false">Comments</a>
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                             aria-labelledby="product-desc-tab">
                            {{ vehicle_details.description | safe }}
                        </div>
                        <div class="tab-pane fade" id="product-comments" role="tabpanel"
                             aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed
                            condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut
                            commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla
                            turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar
                            mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex
                            elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a
                            sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel
                            id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}