{% extends 'store/base.html' %}
{% load static %}

{% block title %}Filling Stations{% endblock %}

{% block content %}
    <div class="container">
        <div class="header row inline-group">
            <h2 class="col-sm-5 font-weight-bold pull-left">Filling Stations</h2>
            <form class="form-inline" action="{% url 'filling_stations_list' %}" method="GET">
                {% if keywords %}
                    <input class="form-control mr-sm-2" name="q" value="{{ keywords }}" type="search"
                           placeholder="Search by keywords, car type, brand, agent, etc"
                           aria-label="Search" required>

                {% else %}
                    <input class="form-control mr-sm-2" name="q" type="search"
                           placeholder="Search by keywords, car type, brand, agent, etc"
                           aria-label="Search" required>
                {% endif %}
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
{#            <input class="col-sm-6 pull-right form-control" type="text"#}
{#                   placeholder="Search Station by name or location">#}
        </div>

        <hr>
        <div class="row">
            {% for filling_station in filling_stations %}
                <div class="col-sm-4 py-2">
                    <div class="card h-100 text-black-50">
                        {% if filling_station.picture %}
                            <img class="card-img-top img-fluid" alt="Product" src="{{ filling_station.picture.url }}"/>
                        {% else %}
                            <img class="card-img-top img-fluid" alt="Product"
                                 src="{% static 'img/filling_station_thumbnail.jpeg' %}"/>
                        {% endif %}

                        <div class="card-body justify-content-center">
                            <h3 class="card-title">{{ filling_station.name | capfirst }}</h3>
                            <p class="card-text">{{ filling_station.location }}</p>
                            {% if filling_station.website_link %}
                                <p class="card-text">
                                    <a href="{{ filling_station.website_link }}">{{ filling_station.website_link }}</a>
                                </p>
                            {% endif %}
                            <div class="card-footer">
                                <a title="Click to view Map"
                                   href="{% url 'filling_stations_detail' filling_station.id %}"
                                   class="btn btn-block btn-outline-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}